SERVER_PORT=3000

ROUTE_PREFIX=/api
SWAGGER_PREFIX=/api-info

BASE_URL=localhost:3000

JWT_ACCESS_LIFETIME=86400
JWT_ACCESS_SECRET=YvcMg2GW6gZjAwdramXafS9lHaQ9txbvSHZNHDDR
JWT_REFRESH_LIFETIME=2592000
JWT_REFRESH_SECRET=SOv2cT29VqxrV1Q9J8M6CALGzTYflAR2wXJaiSQ1

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=builder_service
DB_PASSWORD=builder_service
DB_DATABASE=builder_service

BROKER_URL=amqp://app_market:app_market@127.0.0.1:5672/app_market
BROKER_QUEUE=builder_service

REDIS_HOST=localhost